<div class="container d-flex w-100 justify-content-center mt-3 mb-3">
  <button class="btn btn-info" (click)="onSendSubject()">Send subjects</button>
</div>
<hr>

<div class="container d-flex justify-content-between">
  <yl-subject-comp>
    <div class="mr-1 ">
      <p class="text-center text-info">Subject</p>
      <ul  class="list-group ">


        <li class="list-group-item mb-1"  *ngFor="let s of subjectStudents" >
      <span class="list-group-item" [ngStyle]="{background: '#17a2b8'}">
        <span class="mr-3">{{s.id}}</span>
        <span>{{s.name}}</span>
      </span>
        </li>
      </ul>
    </div>
  </yl-subject-comp>

  <yl-behavior-subject-comp >
    <div class="mr-1" >
      <p class="text-center text-muted">Behavior subject</p>
      <ul  class="list-group ">
        <li class="list-group-item mb-1" *ngFor="let s of behaviorSubjectStudents">
      <span class="list-group-item" [ngStyle]="{background: '#6c757d'}">
        <span class="mr-3">{{s?.id}}</span>
        <span>{{s?.name}}</span>
      </span>
        </li>
      </ul>
    </div>
  </yl-behavior-subject-comp>

  <yl-async-subject-comp>
    <div class="mr-1 text-center">
      <p class="text-center text-danger">Async subject</p>
      <ul class="list-group ">
        <li class="list-group-item mb-1"  *ngFor="let s of asyncSubjectStudents">
      <span class="list-group-item" [ngStyle]="{background:'#dc3545'}">
        <span class="mr-3">{{s?.id}}</span>
        <span>{{s?.name}}</span>
      </span>
        </li>
      </ul>
    </div>
  </yl-async-subject-comp>

  <yl-replay-subject-comp>
    <div>
      <p class="text-center text-success">Replay subject</p>
      <ul class="list-group">
        <li class="list-group-item mb-1" *ngFor="let s of replaySubjectStudents" >
      <span class="list-group-item" [ngStyle]="{background:'#28a745'}">
        <span class="mr-3">{{s?.id}}</span>
        <span>{{s?.name}}</span>
      </span>
        </li>
      </ul>
    </div>
  </yl-replay-subject-comp>
</div>



