@import "projects/password-strength/src/assets/styles/colors";

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;

  h1 {
    color: $text-color;
    margin-bottom: 3rem;
  }

  .password__meter {
    width: 100%;
    border: 1px solid $border-color;
    height: 10px;
    border-radius: 10px;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    transition: background 1s;

    .meter {
      top: 0;
      left: 0;
      //width: calc(1% * var(--strength, 0));
      //background: $meter-bg;
      position: absolute;
      height: 100%;
    }
  }

  .password__input {
    padding: 10px 20px;
    background: $primary-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    width: 100%;
    outline: none;
    color: $text-color;
    font-size: 22px;
    text-align: center;
    margin-bottom: 1rem;

    &:focus {
      border: 2px solid $border-color;

    }
  }
  .reasons{
    .reasons__text{
      color: hsl(12,50%,40%);
    }
  }
}

