<div class="paper__wrapper mt-5" >
  <div class="left__side">
    <button class="btn btn-info" #buttonRollDown>
      <img class="img__down" src="assets/img/arrow_down-512.png" alt="">
    </button>
  </div>


  <div class="container" style="max-width: 600px;width: 100%">
      <div class="paper__holder">

      </div>
    <ul class="paper__roll list-group"   #paperRoll [style.minHeight]="paperRollHeight+ 'px'">
      <li class="list-group-item  border-top-0"   *ngFor="let quote of data;let i=index" >
        <span>"{{quote.content}}..."</span>
        <p class="text-muted">--------{{quote.author}}---------</p>
      </li>

    </ul>
  </div>
  <div class="right__side">
    <button class="btn btn-info custom" #buttonRollUp>
      <img class="img__up" src="assets/img/arrow_up-512.png" alt="">
    </button>
  </div>
</div>

<div class="niagara d-flex justify-content-center w-100">
  <div>
    <img src="assets/img/23764.970.png" alt="">
  </div>
</div>
