@import "../apple-id/apple-id.component";
.container{
  position: relative;
  top: 0 !important;
  min-height: 0 !important;
  width: 100%;

  .row{
    .col-4{
      input{
        //border-top:0 !important;
        border-radius: 0 0 7px 7px !important;

        &.isPasswordActive{
          //border: 1px solid #494949 !important;
        }
        :focus{
          border: 1px solid #494949 !important;
        }
      }
    }
  }
}
::placeholder{
  color:#888888;
}
