@import "../apple-id/apple-id.component";
.container{
  position: relative;
  top: 0 !important;
  min-height: 0 !important;
  width: 100%;

  .row{
    .col-4{
      input{
        //border-top:0 !important;
        border-radius: 0 0 7px 7px !important;

        &.isPasswordActive{
          //border: 1px solid #494949 !important;
        }
        :focus{
          border: 1px solid #494949 !important;
        }
      }
    }
  }
}
::placeholder{
  color:#888888;
}
.tooltip-custom{
  position: absolute;
  bottom: -41px;
  left: 50%;
  width: 88%;
  transform: translateX(-50%);
  background: #FAE9A4 !important;
  color: #503E30;
  border:1px solid #DCC164;
  border-radius: 5px;
  box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
  font-size: 14px;
  padding: 10px;
  text-align: center;
  z-index: 100;


  &::after{
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background:#FAE9A4;
  }
}
