<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="input__apple_id">
        <input [formControl]="passwordControl"  placeholder="password" (input)="updateValue(passwordControl.value)" type="password" (focus)="onFocusApplePassword()" #inputApplePasswordRef>
        <button (click)="onSubmitApplePassword()" [disabled]="!passwordControl.value">
          <i *ngIf="showIcon" class="fa fa-arrow-circle-right fa-2x"></i>
          <img *ngIf="showLoader" src="assets/img/upload-file-feature-contact-form.gif" alt="">
        </button>
      </div>



    </div>


  </div>
  <div class="tooltip-custom" *ngIf="showTooltip">
    <span>Your Apple ID or password was incorrect</span>
  </div>
</div>
