<!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 100 100">-->
<!--  <path class="grey" d="M40,90-->
<!--             A40,40 0 1,1 60,90"-->
<!--        style="fill:none;"/>-->
<!--  <path class="purple" d="M40,90-->
<!--             A40,40 0 1,1 60,90"-->
<!--        style="fill:none;" [ngStyle]="{strokeDasharray: borderCount+'%'}"/>-->
<!--</svg>-->


<div class="container text-center w-100 d-flex justify-content-center">
  <div class="counter mt-3" >


<!--    <div  class="border-my" [ngStyle]="{backgroundPositionX: borderCount+'%','backgroundColor': 'red'}"></div>-->
    <div class="counter__border mt-3 mb-3" >
      <svg>
        <circle r="18" cx="20" cy="20" stroke-dasharray="'red'" class="red"></circle>
        <circle r="18" cx="20" cy="20" class="green" [ngStyle]="{strokeDashoffset: borderCount+'px'}">

        </circle>
      </svg>
      <span>{{counter}}</span>
    </div>
  </div>
</div>

<div class="card-deck m-auto w-75" >
  <div class="card mb-5 shadow"  *ngFor="let todo of data;let i=index"  >
    <div class="card-header">
      <span>Id: {{todo.id}}</span>

    </div>
    <div class="card-body" ylRandomColor>
      <span>Title: {{todo.title}}</span>
    </div>
<!--    <div class="card-footer">-->
<!--      <button class="btn btn-outline-info">Show more...</button>-->
<!--    </div>-->
  </div>

<!--  {{data|json}}-->
</div>
