:host{
  width: 100%;
  height: 5px;
  border:1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;

}
.meter{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;

  &.poor{
    background: red;

  }
  &.fair{
    background: orange;
  }
  &.good{
    background: blue;
  }
  &.excellent{
    background: green;

  }



}
.level{
  position: relative;
  top: 11px;
  display: flex;
  justify-content: flex-end;
  span{
    &.pure{
      color: red !important;
    }
    &.fair{
      color: orange !important;
    }
    &.good{
      color: blue !important;
    }
    &.excellent{
      color: green;

    }
  }





}



