<div class="meter" *ngIf="data$ | async as password "
     [ngStyle]="{'width.%': password.length * 5,'display': 'inline-block'}"
     [ngClass]="{'poor': password.length <=5,'fair': password.length > 5 && password.length <= 10 ,'good': password.length > 10 && password.length <=15,
      'excellent': password.length> 15 }">
</div>
<div  class="level">
  <span *ngIf="passwordMeter.length <=5 && passwordMeter.length>= 1" [ngClass]="{'pure': passwordMeter.length <=5 && passwordMeter.length>= 1}">Poor</span>
  <span *ngIf="passwordMeter.length > 5 && passwordMeter.length <= 10" [ngClass]="{'fair': passwordMeter.length > 5 && passwordMeter.length <= 10}">Fair</span>
  <span *ngIf="passwordMeter.length > 10 && passwordMeter.length <=15" [ngClass]="{'good': passwordMeter.length > 10 && passwordMeter.length <=15}">Good</span>
  <span *ngIf="passwordMeter.length> 15" [ngClass]="{'excellent': passwordMeter.length> 15}">Excellent</span>
</div>




